.contacts-list {
  height: 325px;
  list-style: none;
padding: 0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px;
  font-size: 12px;
}
.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
}
.contact-item:hover {  box-shadow: rgba(0, 0, 0, 0.20) 1px 1px 2px;



}
.locations {
  display: flex;
  flex-direction: column;
}
.contact-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.location-logo{
width: 100px;
}