@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap");

body {
  margin: 0;
  padding: 0px 10px 10px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Diplomata SC", cursive;
  background-color: rgb(255 228 196 / 83%);
  height: 100vh;
  position: relative;
}
a {
  color: #000;
  text-decoration: none
}
.app-name {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
  color: #000;
}

#logo {
  background-color: transparent;
  height: 60px;
}

#logo > img {
  height: 100%;
}

.header-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 10px;
  font-size: 13px;
  font-weight: 500;
}

.header-item:hover {
  color: #000;
  cursor: pointer;
  text-Shadow: 0px 0px 2px rgb(68, 68, 68);

}

.price-header {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid black;
}
.price-item {
  width: 100%;
  height: 70px;
  margin-top: 27px;
  font-weight: 400;
  font-size: 16px;
}
.controls-header {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 2px solid black;
}
#controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  width: 20%;
  font-weight: 400;
  font-size: 11px;
  padding: 27px 20px 0;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.controls-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter {
  margin: 0 6px;
}

.counter-btn {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 1px 1px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.plus:active {
  box-shadow: 0px 0px 0px 0px;
  top: 1px;
  left: 1px;
}
.minus:active {
  box-shadow: 0px 0px 0px 0px;
  top: 1px;
  right: 1px;
}
.counter-name {
  min-width: 52px;
  display: flex;
  justify-content: flex-start;
}

.controls-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

#price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  margin-right: 20px;
  width: 20%;
  padding: 27px 20px 0;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  position: relative;
  margin-right: 20px;
  width: 40%;
  padding: 27px 20px 0;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#content-wrapper {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  min-height: 100%;
}

#logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-item-wrapper {
  display: flex;
  justify-content: flex-end;
}
#app-name-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: bisque;
  padding: 0 28px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.ingredients-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-container > img {
  width: 145px;
}

.burger-view {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-54 {
  margin-bottom: 20px;
  font-family: "Diplomata SC", cursive;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  border-radius: 4px;
  cursor: pointer;
  background: none;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.order-btn {
  width: 140px;
  font-size: 10px;
}
.order-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}
.cancel {
  background: rgb(162 81 84 / 47%);
}
.submit {
  background: rgb(39 117 96 / 47%);
}
.order-input {
  background: none;
  border: none;
  border-bottom: 1px solid gray;
}
.order-input:focus-visible {
  outline: none;
  border-radius: 4px;
}
.error {
  min-height: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(175 5 12);
  font-size: 10px;
  margin-bottom: 10px;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid gray;
  width: 100%;
}

.icon {
  width: 88px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
.label {
  display: block;
}
.quick-delivery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-size: 13px;
  padding: 5px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 6px;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}
