.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#logo {
  background: #f1f2ae;

  min-width: 181px;
  height: 37px;
}
.btn {
  background: #e7efd6;

  width: 46px;
  height: 37px;
}
.news-massage {
  background: #bdcdf6;
  margin-top: 9px;
  width: 247px;
  height: 110px;
}
.blog-massage {
  width: 759px;
  height: 70px;
  background: #f9d7d7;
  margin-top: 27px;
}
#news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  min-width: 30%;
}
#blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d9d9d9;
  margin-right: 67px;
  min-width: 70%;
}
#blog-news-wrapper {
  margin-top: 19px;
  display: flex;

  height: 437px;
}
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  height: 145px;
  background: #d9d9d9;
}
#logo-wraper {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
#button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
#blog-name-container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background: #d9d9d9;
  align-items: center;
  padding: 0 28px 0 28px;
}
#container {
  display: flex;
  flex-direction: column;
}
